.heroesContainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
}

.heroesList {
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
    padding: 0;
}

.heroItem {
    cursor: pointer;
    list-style-type: none;
    flex: 1 1 30%;
    text-align: center;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50px;
}